@import "./../styles/colors.scss";
@import "./../styles/variables.scss";
.header-cell {
    /* font-family: 'Lobster', cursive;*/
    /*font-family: 'Prosto One', cursive;*/
    border-top: none;
   /* border-left: $grey-border;*/
    line-height: 2;
    background-color:$primary-color-blue;
    color: $primary-color-white; 
    font-size: $padding-medium;
    padding: $padding-little $padding-medium;
}

.header-cell:first-child {
    border-left: none;
}