@import "./../styles/variables.scss";
@import "./../styles/colors.scss";

.infinite-table {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 539px;
    width: 900px;
}

.span__loading{
    color: $secondary-color-grey;
}
.ReactVirtualized__List{
    margin: auto;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
}