@import "./../styles/variables.scss";
@import "./../styles/colors.scss";

.infinite-table {
    margin: auto;
    height: 30rem;
    overflow: hidden;
    overflow-y: scroll;
    width: 40rem;
    font-size: $font-size-little;
    margin-top: 5%;
}

.span__loading{
    color: $secondary-color-grey;
}
.ReactVirtualized__List{
    margin: auto;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
}