@import "./../styles/variables.scss";
.infinite-table {
    margin: auto;
    height: 30rem;
    overflow: hidden;
    overflow-y: scroll;
    width: 40rem;
    font-size: $font-size-little;
    margin-top: 5%;
}

.infinite-table--loading{
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -40rem;
}