@import "./styles/colors.scss";
@import "./styles/variables.scss";
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: $primary-color-white;
}

::-webkit-scrollbar {
    width: 0.9rem;
}

::-webkit-scrollbar-track {
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background: $secondary-color-grey;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary-color-grey;
}